extends layout
include mixins/_crag_form

block content
    a(href="/admin")
        button(type="button" class="button_small") Back to Admin
    h2= title
    
    +cragForm(crag)

    
        
        