extend layout

block content
    h2= title
    hr
    ul
        li
            a(href="/admin/add") Add new crag
        li
            a(href="/admin/editRemove") Edit/Remove Crag
        li  
            a(href="/admin/orders") View Bookings
        