extend layout

block content
    h2= title
    hr
    form(action="/login" method="POST")
        .form_input
            label(for="email") Email:
            input(type="text" name="email" id="email" required)

        .form_input
            label(for="password") Password:
            input(type="password" name="password" id="password")

        .form_input
            button(type="submit" class="button_small") Log In
