mixin countryList(country)
    li
        a(href=`/countries/${country}`) #{country}
            img(src=`https://res.cloudinary.com/dmvzayayq/image/upload/v1595912699/${country}.png`)
            
            